<h1>Structure Directives in Angular</h1>
<!-- <h2>{{ fruits[0] }}</h2>
<h2>{{ fruits[1] }}</h2>
<h2>{{ fruits[2] }}</h2>
<h2>{{ fruits[3] }}</h2>
<h2>{{ fruits[4] }}</h2> -->
<div *ngFor="let fruit of fruits; odd as o">
  <h2>{{ o }} {{ fruit }}</h2>
</div>

<div *ngFor="let p of sports; index as i">
  <h2>{{ i }}</h2>
  <h2>{{ p.name }}</h2>
  <h2>{{ p.players }}</h2>
  <h2>{{ p.age }}</h2>
  <br />
</div>

<!-- <div *ngFor="let fruit of fruits; first as f">
  <h2>{{ f }} {{ fruit }}</h2>
</div> -->

<!-- <div *ngFor="let fruit of fruits; index as i">
  <h2>{{ i }} {{ fruit }}</h2>
</div> -->

<!-- for lop -->

<!-- @switch (Pizzaa){ @default { Please select a pizza } @case ('Fajita') { You Have
Selected Fajita Pizza } @case ('kabab') { You have selected kabab Pizza } @case
('Supreme') { You Have Selected Supreme Pizza } @case ('tika') { You have
Selected Tika Pizza } @case ('Veggie') { You have selected Veggie Pizza } } -->

<!-- @switch (pizza) { @default { Please select a pizza } @default { Please select a
pizza kal ana } @case ('Fajita') { You Have Selected Fajita Pizza } @case
('kabab') { You have selected kabab Pizza } @case ('Supreme') { You Have
Selected Supreme Pizza } @case ('tika') { You have Selected Tika Pizza } @case
('Fajita') { You have selected Veggie Pizza } } -->
