<h1>Structure Directives in Angular</h1>
<!-- // true accept kray ga ya phr false -->
<!-- <h1 *ngIf="display; else myName">I Have Trying to Learn Angular</h1>
<ng-template #myName>
  <h1>Muhammad Adil</h1>
</ng-template> -->
<!-- <h1 *ngIf="display; else myName">Learning Never Ends</h1>

<ng-template #myName>
  <h1>My Leader Sir Muhammad Adil</h1>
</ng-template> -->
<!-- <div *ngIf="display; then ifPart; elsePart"></div>

<ng-template #ifPart>
  <h1>My Father Name is Muhammad Zaman Khan Bal0ch</h1>
</ng-template>
<ng-template #elsePart>
  <h1>Muhammad Adil is My Favourit Teacher In My Programming Life</h1>
</ng-template> -->
<div *ngIf="display === 'kumar'; then ifPart; else elsePart"></div>
<h1 *ngIf="fruit === 'Apple'">Your Selected Furit is Apple</h1>
<h1 *ngIf="fruit === 'Banana'">Your Selected Furit is Banana</h1>
<h1 *ngIf="fruit === 'Mango'">Your Selected Furit is Mango</h1>

<ng-template #ifPart>
  <h1>My Father Name is Muhammad Zaman Khan Bal0ch</h1>
</ng-template>
<ng-template #elsePart>
  <h1>Muhammad Adil is My Favourit Teacher In My Programming Life</h1>
</ng-template>
